<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <!-- <script defer src="http://localhost:3000/socket.io/socket.io.js"></script> -->
  <script defer src="https://mysterious-lowlands-94558.herokuapp.com:80/socket.io/socket.io.js"></script>
  <script defer src="script.js"></script>
</head>
<body>
  <div id="room-container">
    <% Object.keys(users).forEach(user => { %>
      <div><%= users[user].id %></div>
      <a href="/create_room?user_1=<%= user_id %>&user_2=<%= users[user].id %>">Join</a>
    <% }) %>


   


  </div>
  
</body>
</html>