<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <!-- <script defer src="http://localhost:3000/socket.io/socket.io.js"></script> -->
  <script defer src="https://mysterious-lowlands-94558.herokuapp.com/socket.io/socket.io.js"></script>
  <script defer src="script.js"></script>
</head>
<body>
  <!-- <div id="room-container">
    <% Object.keys(rooms).forEach(room => { %>
      <div><%= room %></div>
      <a href="/<%= room %>">Join</a>
    <% }) %>
  </div> -->
  <form action="/loginn" method="POST">
    <input name="id" type="text" required>
    <button type="submit">login</button>
  </form>
</body>
</html>